.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 12px;
}

.register input {
  padding: 8px;
  width: 250px;
}

.register button {
  padding: 8px 20px;
  cursor: pointer;
}